# Dependencies
node_modules

# Build output
dist

# Git
.git
.gitignore

# Editor/IDE
.vscode
.idea
*.swp
*.swo
.DS_Store

# Documentation
*.md
!README.md
local_docs

# Dev files
.env
.env.local
.env.*.local
