---
/**
 * Footnotes - container populated by footnotes.ts on narrow viewports
 */
---

<section class="aside-panel" id="footnotes" data-empty="true">
  <h2 class="aside-panel-title">Footnotes</h2>
  <ol class="aside-panel-list footnote-list"></ol>
</section>
