---
interface Props {
  id: string;
}

const { id } = Astro.props;
---

<sup id={`fnref-${id}`} class="footnote-ref">
  <a href={`#fn-${id}`} class="footnote-number"></a>
</sup>
<span class="footnote-content" data-footnote-id={id} hidden>
  <slot />
</span>
